* {
    box-sizing: border-box;
}

button {
    width: 300px;
}

.mainContainer {
    text-align: center;
    margin: 15px;
}

.bookDiv {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 15px; 
    align-items: center;
    justify-content: center;
}

#readBtn {
    width: 100px; 
    margin-top: 10px;
}

#readBtn:active {
    background-color: green;
}

#bookImage {
    width: 200px; 
}

.library {
    display: grid;
    width: 100vw; 
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 300px);
    align-items: center;
    justify-content: center;
}